/* Don't change the existing CSS. */
#outer-box{
  padding: 10px;
  background-color: violet;
}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.white-text{
  background-color: red;
  color: white;
}

