*{
    font-size: normal;
}
img{
 width: 200px;
 height: 200px;
}

.color-title[id="red"]{
    color: red;
}

.color-title[id="blue"]{
    color: blue;
}
.color-title[id="orange"]{
    color: orange;
}
.color-title[id="green"]{
    color: green;
}
.color-title[id="yellow"]{
    color: yellow;
}

