<%- include("partials/header.ejs") %>


  <h1>Summary </h1>

  <p>Abdelrahman is an Engineer with 5+ years of professional
    experience, and expertise in React and Node.js. He has worked in
    development, architecture, and leadership roles. Abdelrahman is
    committed to understanding and prioritizing client vision to deliver
    outstanding results that meet business needs. At the same time, he
    advocates for end-users and goes the extra mile to ensure their
    satisfaction by continuously improving user interfaces. He has an
    excellent understanding of SOLID principles and object-oriented
    design and holds a bachelor’s degree in software engineering.
  </p>
  <h2>Projects</h2>
  <p>
    Rubix is educational website for adults that offers a personalized
    learning experience.
    The website includes challenges that increase user's learning experience.
    It offers services for several stakeholders which are Instructors,
    Corporate Trainees, and Individual Trainees. The website is also
    monitored by administrators with specific roles and accesses. </p>

  <%- include("partials/footer.ejs") %>